.homePage{
    .jumbotron{
        height:60vh;
        position:relative;
    }

    .jumbotron-overlay{
        @include square(100%);
        background:rgba(white, .9);
        color:black;
    }

    .jumbotron-title{
        margin:0;
        color:#63D590;
        line-height:1.25;
    }

    .jumbotron-content{
        @include flex($align:center);
        @include square(100%);
    }

    .jumbotron-bg{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:-1;
    }

    .jumbotron-links{
        @include flex($align:center);
        @include position($p:absolute, $right: 10%, $bottom: 10%);
        // position: absolute;
        // right: 10%;
        // bottom: 10%;
    }

    .jumbotron-social{
        font-size: 50px;
        color:rgb(112, 112, 112);
        margin-left:8px;
    }

    .jumbotron-link-btn{
        @include btn($size: 'md',$bgColor:rgb(112, 112, 112));
        margin-right:10px;
    }

    .app-features-btn{
        @include btn($size: 'md',$bgColor:#63D590);
    }

    .mission-container,
    .solution__container,
    .social__container{
        padding:40px 1rem;
    }

    .mission-content{
        margin-bottom:40px;
    }

    .mission-title{
        color:#63D590;
    }
    
    .mission-img__container{
        @include scalableImg($imgClassName: 'mission-img', $height:60%, $brdr-radius:2px);
        width: 100%;
      }
  
    
   
    .solution__app-icon{
        @include square(100px);
        display:block;
        margin:35px auto;
    }

    .solution-title{
        color:#84dc94;
    }

    .social__container{
        background:#84dc94;
        color:white;
    }


    .social-title{
        margin-bottom:8px; 
        color:white;
    }

    .instagram-link{
        font-size:50px;
        margin-left:auto;
        display:block;
        margin-right:30px;
    }


    //skills

    .skills-title{
        margin-bottom:40px;
    }

    .skill-container{
        text-align:center;
        padding:40px 1rem;
    }

    .skill-container__title{
        text-transform: uppercase;
    }

    .skill-container__desc{
        font-weight:400;
    }

    .skill-fact__stat{
        font-size: 30px;
        font-weight: 500;
        margin-top:10px;
        margin-bottom: 10px;
    }

    .skill-fact__stat-desc{
        margin:0;
        font-size:14px;
    }

    .skill-communication{
        background:#63D590;
        color:white;
    }

    .skill-empathy{
        color: #63D590;
    }

    .skill-empathy .skill-container__title{
        color:#63D590;
    }

    .skill-communication .skill-container__title{
        color:white;
    }

    .app-features-btn__solution{
        margin-top:40px;
        display:inline-block;
    }

    @include mq('med'){
        .jumbotron{
            height:80vh;
        }
        .jumbotron-title{
            font-size:$font-xl;
        }

        .mission-container{
            padding:0;
            display:grid;
            grid-template-columns:1fr 2fr;
        }

        .mission-content{
            padding:5vw;
            margin-bottom:0;
            order:2;
        }

        .mission-img__container{
            @include scalableImg($imgClassName: 'mission-img', $height:100%, $brdr-radius:0); 
            order:1;
        }
        
        .solution-social__row{
            display:grid;
            grid-template-columns: 2fr 1fr;
        }

        .social__container{
            @include flex($dir:column);
            padding:5vw;
        }

        .instagram-link{
            margin-top:20px;
            font-size:60px;
        }

        .solution__container{
            padding:5vw;
        }

        .skills-container{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        .skill-container{
            padding:5vw;
        }

    }

    @include mq('large'){

        .jumbotron-links{
            right: 10%;
            bottom: 20%;
        }
        .solution-social__row{
            grid-template-columns: 3fr 2fr;
        }

        .mission-content{
            grid-template-columns: 2fr 3fr;
        }
    }
}


