$breakpoints:('xs':400px,
    'sm':599px, //Must be one less than med
    'med':700px,
    'large':1000px,
);
$font-stack-primary: 'Lato',
sans-serif;

$font-stack-secondary: 'Lato',
sans-serif;

$navbar-height:50px;

$main-content-width: 700px;
$d-box-shadow:0 4px 20px rgba(0, 0, 0, .12);


$font-base: 1rem;
$font-larger: 1.333rem;
$font-med: 1.777rem;
$font-lg: 2.369rem;
$font-xl: 3.157rem;
$font-xxl: 4.209rem;

$white: white;
$link-color: black;

// $productCard-md-break: 700px;
// $contextBox-lg-break: 1000px;


$body-bg: $white;
$base-color: black;
$color-theme-primary: black;
$color-theme-secondary: black;
$color-theme-tertiary: black;

$jumbotron-bg:#404040;
$jumbotron-color:$white;
$product-card-bg: #404040;
$product-modal-bg:#404040;
